/* global */
* {
	box-sizing: border-box;
}
body {
	background: url(./images/stars.jpg);
	background-size: contain;
	color: #fff;
	margin: 0;
	background-size: contain;
	color: #fff;
	margin: 0;
	font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
	font-family: 'Rubik Moonrocks', cursive;
}
/* text */
h2 {
	margin-top: 0;
}

p {
	font-size: 16px;
	line-height: 24px;
}
/* media */

/* tables */

/* forms */

/* header */

/* nav */

/* main */

/* rows */

/* columns */

/* footer */
